:host{
  display: block;
  font-size: 18px;
  text-align: center;
  border: 5px solid black;
  border-radius: 50px;
  margin: 50px;
  padding: 10px;
  color:white;
  // background-color: yellow;
  opacity: 0.8;
  background-image: url("back.jpg");
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: #cccccc;
}
